body {
	background-image:url('background.jpg');
}

h1 {
	color:red; 
	font-family:Arial; 
	font-size:65px; 
	border:4px dotted orange;
	text-align:center;
	background-color:lightyellow;
}

h2 {
	color:black;
	font-family:courier;
	font-size:40px;
	text-align:center;
	background-color:hsla(0, 100%, 90%, 0.4);
}

p {
	font-family:times;
	font-size:20px;
	text-align:left;
}

#mo04 {
	font-family:times;
	font-size:25px;
	color:red;
}